%h1 Ask a Legal Question
= form_with model: @question, local: true do |f|
  .mt-2
    = f.label :title
    = f.text_field :title, class: "form-control"
  .mt-2
    = f.label :body, "Question Details"
    = f.text_area :body, rows: 6, class: "form-control"
  .mt-2
    = f.label :category
    = f.select :category, ['Family Law', 'Property', 'Wills & Probate', 'Employment', 'Other'], {}, class: "form-control"
  .mt-2
    = f.submit "Submit Question", class: "btn btn-primary btn-block"
.mt-2
  = link_to "Back to My Questions", questions_path, class: "text-blue-600 underline"
