%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "users/shared/error_messages", resource: resource
  .field.m-2
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .field.m-2
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
  .field.m-2
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    = f.password_field :password, autocomplete: "new-password", class: 'form-control'
  .field.m-2
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
  .field.m-2
    = f.label :role
    = f.select :role, User.roles.map { |key, value| [key.humanize, key] }, {} , class: 'form-select mb-2'
  .actions
    = f.submit "Sign up", class: 'btn btn-primary btn-block'
= render "users/shared/links"
